<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>
    <link rel="stylesheet" href="style.css">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Gaegu:wght@300;400;700&family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap" rel="stylesheet">
    
</head>
<body>
    <main>
        <div class="section" id="senin">
            <h1 class="day">Se<span class="item">nin</span></h1>
            <div class="card">
                <img src="img/senin-1.jpeg" alt="gym" class="gambar">
                <h2 class="nama-gerakan">Front Lateral Raise</h2>
                <p class="description">Front lateral raises adalah latihan kekuatan dengan dumbbell yang melibatkan mengangkat dumbbell ke depan dari sisi tubuh hingga sejajar dengan bahu atau sedikit di bawahnya. Ini menguatkan otot deltoid anterior (depan), meningkatkan kekuatan dan stabilitas bahu, serta membentuk estetika tubuh bagian atas.</p>
                <ul class="sets">
                    <p class="set">Di<span class="abu">lakukan</span> sebanyak :</p>
                    <li class="rep">15x</li>
                    <li class="rep">15x</li>
                    <li class="rep">20x</li>
                </ul>
                <div class="contain-garis">
                    <div class="garis"></div>
                </div>
                
                <img src="img/senin-2.jpeg" alt="gym" class="gambar">
                <h2 class="nama-gerakan">Side Lateral Raises</h2>
                <p class="description">Side lateral raises adalah latihan kekuatan dengan dumbbell yang mengacu pada gerakan mengangkat dumbbell ke samping dari tubuh hingga sejajar dengan bahu atau sedikit di atasnya. Latihan ini memfokuskan pada otot deltoid lateral (samping), membantu meningkatkan kekuatan dan stabilitas bahu serta membentuk estetika tubuh bagian atas.</p>
                <ul class="sets">
                    <p class="set">Di<span class="abu">lakukan</span> sebanyak :</p>
                    <li class="rep">15x</li>
                    <li class="rep">15x</li>
                    <li class="rep">20x</li>
                </ul>
                <div class="contain-garis">
                    <div class="garis"></div>
                </div>

                <img src="img/senin-3.jpeg" alt="gym" class="gambar">
                <h2 class="nama-gerakan">Shoulder Press</h2>
                <p class="description">Shoulder press dengan dumbbell adalah latihan kekuatan yang melibatkan dorongan dumbbell ke atas dari posisi bahu hingga tangan lurus di atas kepala. Ini adalah latihan yang efektif untuk menguatkan otot deltoid secara keseluruhan, serta melibatkan otot trisep dan otot stabilisator lainnya. Latihan ini membantu meningkatkan kekuatan, stabilitas, dan estetika tubuh bagian atas.</p>
                <ul class="sets">
                    <p class="set">Di<span class="abu">lakukan</span> sebanyak :</p>
                    <li class="rep">15x</li>
                    <li class="rep">15x</li>
                    <li class="rep">20x</li>
                </ul>
                <div class="contain-garis">
                    <div class="garis"></div>
                </div>
            </div>
        </div>

        <div class="section" id="selasa">
            <h1 class="day">Se<span class="item">lasa</span></h1>
            <div class="card">
                <img src="img/selasa-1.jpeg" alt="gym" class="gambar">
                <h2 class="nama-gerakan">Dumbbell Rows</h2>
                <p class="description">Dalam dumbbell row, mulailah dengan berdiri dan satu kaki di atas bangku. Tarik dumbbell ke samping tubuh dengan siku ditekuk, fokus pada kontraksi otot punggung di puncak gerakan. Turunkan dumbbell secara perlahan ke posisi awal. Pastikan punggung tetap lurus dan hindari momentum tubuh. Lakukan dengan satu tangan sebelum menukar ke tangan lainnya.</p>
                <ul class="sets">
                    <p class="set">Di<span class="abu">lakukan</span> sebanyak :</p>
                    <li class="rep">15x</li>
                    <li class="rep">15x</li>
                    <li class="rep">20x</li>
                </ul>
                <div class="contain-garis">
                    <div class="garis"></div>
                </div>
                
                <img src="img/selasa-2.jpeg" alt="gym" class="gambar">
                <h2 class="nama-gerakan">Deadlift</h2>
                <p class="description">Deadlift adalah latihan yang kuat untuk melatih punggung bawah, paha, dan otot belakang tubuh lainnya. Untuk melakukannya, mulailah dengan kaki selebar bahu, lutut sedikit ditekuk, dan pegang barbel dengan tangan sedikit lebih lebar dari bahu Anda. Tekankan punggung lurus, angkat barbel dengan menekan tumit ke lantai, dan perpanjang pinggang Anda hingga berdiri tegak. Turunkan barbel kembali dengan kontrol ke lantai dengan mempertahankan punggung lurus. Pastikan untuk menghindari membungkuk atau melingkarkan punggung Anda. Lakukan gerakan ini dengan kontrol penuh untuk menghindari cedera.</p>
                <ul class="sets">
                    <p class="set">Di<span class="abu">lakukan</span> sebanyak :</p>
                    <li class="rep">15x</li>
                    <li class="rep">15x</li>
                    <li class="rep">20x</li>
                </ul>
                <div class="contain-garis">
                    <div class="garis"></div>
                </div>

                <img src="img/selasa-3.jpeg" alt="gym" class="gambar">
                <h2 class="nama-gerakan">Push Up</h2>
                <p class="description">Push-up adalah latihan tubuh bagian atas yang sederhana namun efektif. Mulailah dengan posisi plank, tangan selebar bahu dan telapak tangan rata di bawah bahu. Tekuk siku Anda saat menurunkan tubuh hingga dada hampir menyentuh lantai. Dorong tubuh kembali ke posisi awal dengan menekan telapak tangan ke lantai. Pastikan tubuh tetap lurus sepanjang gerakan dan jangan biarkan pinggul Anda terangkat. Lakukan gerakan ini dengan kontrol penuh untuk hasil yang maksimal.</p>
                <ul class="sets">
                    <p class="set">Di<span class="abu">lakukan</span> sebanyak :</p>
                    <li class="rep">15x</li>
                    <li class="rep">15x</li>
                    <li class="rep">20x</li>
                </ul>
                <div class="contain-garis">
                    <div class="garis"></div>
                </div>
            </div>
        </div>

        <div class="section" id="rabu">
            <h1 class="day">Ra<span class="item">bu</span></h1>
            <div class="card">
                <img src="img/rabu-1.jpeg" alt="gym" class="gambar">
                <h2 class="nama-gerakan">Squat</h2>
                <p class="description">Squat adalah latihan dasar yang efektif untuk melatih otot kaki dan panggul. Mulailah dengan kaki selebar bahu, punggung lurus, dan pandangan lurus ke depan. Tekuk lutut dan pinggul Anda hingga paha sejajar dengan lantai atau lebih rendah. Pastikan agar lutut tidak melewati ujung jari kaki Anda saat menurunkan badan. Kemudian, dorong tubuh Anda kembali ke posisi berdiri dengan mendorong tumit ke lantai. Tetap jaga punggung lurus dan berat tubuh di tumit saat Anda melakukan gerakan. Lakukan gerakan ini dengan kontrol penuh untuk hasil yang maksimal.</p>
                <ul class="sets">
                    <p class="set">Di<span class="abu">lakukan</span> sebanyak :</p>
                    <li class="rep">15x</li>
                    <li class="rep">15x</li>
                    <li class="rep">20x</li>
                </ul>
                <div class="contain-garis">
                    <div class="garis"></div>
                </div>
                
                <img src="img/rabu-2.jpeg" alt="gym" class="gambar">
                <h2 class="nama-gerakan">Lunges</h2>
                <p class="description">Lunges adalah latihan yang bagus untuk melatih otot kaki dan panggul serta meningkatkan keseimbangan. Mulailah dengan berdiri tegak, langkahkan satu kaki ke depan dan tekuk lutut hingga membentuk sudut 90 derajat, sementara kaki belakang Anda tetap lurus di belakang. Pastikan lutut depan tidak melebihi ujung jari kaki. Kemudian, dorong tubuh Anda kembali ke posisi berdiri dengan mendorong tumit ke lantai. Lakukan hal yang sama dengan kaki yang lain. Tetap jaga punggung lurus dan berat tubuh di tumit saat Anda melakukan gerakan. Lakukan gerakan ini dengan kontrol penuh untuk hasil yang maksimal.</p>
                <ul class="sets">
                    <p class="set">Di<span class="abu">lakukan</span> sebanyak :</p>
                    <li class="rep">15x</li>
                    <li class="rep">15x</li>
                    <li class="rep">20x</li>
                </ul>
                <div class="contain-garis">
                    <div class="garis"></div>
                </div>

                <img src="img/rabu-3.jpeg" alt="gym" class="gambar">
                <h2 class="nama-gerakan">Skipping</h2>
                <p class="description">Skipping adalah latihan kardiovaskular yang melibatkan gerakan melompat atau mengayunkan kaki seperti berlari, namun dengan satu kaki diangkat ke atas setiap kali melangkah. Mulailah dengan berdiri tegak dengan lutut sedikit ditekuk. Angkat satu kaki ke atas dan dorong lantai dengan kaki yang lain, seperti gerakan berlari di tempat, namun dengan perhatian pada gerakan yang ringan dan cepat. Pastikan untuk melibatkan lengan Anda dalam gerakan, seperti ketika berlari. Lakukan gerakan ini dengan ritme yang konsisten dan kontrol penuh untuk hasil yang maksimal.</p>
                <ul class="sets">
                    <p class="set">Di<span class="abu">lakukan</span> sebanyak :</p>
                    <li class="rep">1 menit</li>
                    <li class="rep">1 menit</li>
                    <li class="rep">3 menit</li>
                </ul>
                <div class="contain-garis">
                    <div class="garis"></div>
                </div>
            </div>
        </div>

        <div class="section" id="kamis">
            <h1 class="day">Ka<span class="item">mis</span></h1>
            <div class="card">
                <img src="img/kamis-1.jpeg" alt="gym" class="gambar">
                <h2 class="nama-gerakan">Chest Press</h2>
                <p class="description">Chest press dengan dumbbell melibatkan berbaring telentang dengan dumbbell di kedua tangan. Dorong dumbbell ke atas dari sisi dada Anda, kemudian turunkan dengan kontrol. Pastikan punggung tetap rata di bangku dan siku membentuk sudut 90 derajat. Lakukan gerakan ini dengan kontrol untuk melatih otot dada, bahu, dan trisep dengan efektif.</p>
                <ul class="sets">
                    <p class="set">Di<span class="abu">lakukan</span> sebanyak :</p>
                    <li class="rep">15x</li>
                    <li class="rep">15x</li>
                    <li class="rep">20x</li>
                </ul>
                <div class="contain-garis">
                    <div class="garis"></div>
                </div>
                
                <img src="img/kamis-2.jpeg" alt="gym" class="gambar">
                <h2 class="nama-gerakan">Incline Push-up</h2>
                <p class="description">Incline push-up adalah variasi dari push-up yang melibatkan elevasi tangan Anda di atas permukaan, seperti bangku atau meja. Mulailah dengan posisi push-up, tetapi letakkan tangan Anda di atas permukaan yang lebih tinggi daripada kaki Anda. Tekuk siku dan turunkan tubuh hingga dada hampir menyentuh permukaan, lalu dorong kembali ke posisi awal. Pastikan tubuh tetap lurus sepanjang gerakan. Latihan ini memberikan tekanan lebih rendah pada dada dibandingkan push-up biasa, namun tetap efektif untuk melatih otot dada, bahu, dan trisep.</p>
                <ul class="sets">
                    <p class="set">Di<span class="abu">lakukan</span> sebanyak :</p>
                    <li class="rep">15x</li>
                    <li class="rep">15x</li>
                    <li class="rep">20x</li>
                </ul>
                <div class="contain-garis">
                    <div class="garis"></div>
                </div>

                <img src="img/kamis-3.jpeg" alt="gym" class="gambar">
                <h2 class="nama-gerakan">Push Up </h2>
                <p class="description">Push up Push up Push up</p>
                <ul class="sets">
                    <p class="set">Di<span class="abu">lakukan</span> sebanyak :</p>
                    <li class="rep">15x</li>
                    <li class="rep">15x</li>
                    <li class="rep">20x</li>
                </ul>
                <div class="contain-garis">
                    <div class="garis"></div>
                </div>
            </div>
        </div>

        <div class="section" id="jumat">
            <h1 class="day">Ju<span class="item">m'at</span></h1>
            <div class="card">
                <img src="img/jumat-1.jpeg" alt="gym" class="gambar">
                <h2 class="nama-gerakan">Dumbbell Curl</h2>
                <p class="description">Dumbbell curl adalah latihan untuk melatih otot lengan, khususnya otot bisep. Mulailah dengan berdiri tegak, tangan memegang dumbbell di kedua sisi tubuh dengan telapak menghadap ke depan. Angkat dumbbell ke arah bahu dengan siku tetap di samping tubuh, lalu perlahan turunkan kembali ke posisi awal. Pastikan untuk menjaga posisi tubuh tetap stabil dan gerakan berada di siku dengan kontrol penuh. Lakukan gerakan ini dengan konsentrasi pada otot bisep untuk hasil yang maksimal.</p>
                <ul class="sets">
                    <p class="set">Di<span class="abu">lakukan</span> sebanyak :</p>
                    <li class="rep">15x</li>
                    <li class="rep">15x</li>
                    <li class="rep">20x</li>
                </ul>
                <div class="contain-garis">
                    <div class="garis"></div>
                </div>
                
                <img src="img/jumat-2.jpeg" alt="gym" class="gambar">
                <h2 class="nama-gerakan">21</h2>
                <p class="description">Tentu! Gerakan 21 adalah latihan bisep yang melibatkan tiga set gerakan dengan pola tertentu. Pertama, lakukan 7 repetisi setengah curl dari bawah ke setengah perjalanan menuju bahu. Kedua, lakukan 7 repetisi setengah curl dari tengah hingga puncak, menurunkan dumbbell setengah perjalanan dari bawah ke tengah. Terakhir, selesaikan dengan 7 repetisi penuh curl, mengangkat dumbbell dari bawah hingga bahu. Latihan ini membantu dalam meningkatkan kekuatan dan ukuran otot bisep dengan variasi gerakan yang fokus pada berbagai bagian kontraksi.</p>
                <ul class="sets">
                    <p class="set">Di<span class="abu">lakukan</span> sebanyak :</p>
                    <li class="rep">1x</li>
                    <li class="rep">1x</li>
                    <li class="rep">1x</li>
                </ul>
                <div class="contain-garis">
                    <div class="garis"></div>
                </div>

                <img src="img/jumat-3.jpeg" alt="gym" class="gambar">
                <h2 class="nama-gerakan">Tonton tutorial</h2>
                <p class="description">Hei jangan merampok di gym!</p>
                <ul class="sets">
                    <p class="set">Di<span class="abu">lakukan</span> sebanyak :</p>
                    <li class="rep">0</li>
                    <li class="rep">0</li>
                    <li class="rep">0</li>
                </ul>
                <div class="contain-garis">
                    <div class="garis"></div>
                </div>
            </div>
        </div>

        <div class="section" id="sabtu">
            <h1 class="day">Sa<span class="item">btu</span></h1>
            <div class="card">
                <img src="img/sabtu-1.jpeg" alt="gym" class="gambar">
                <h2 class="nama-gerakan">Lari pagi</h2>
                <p class="description">Lari pagi dan refreshing otak anda</p>
                <ul class="sets">
                    <p class="set">Di<span class="abu">lakukan</span> sebanyak :</p>
                    <li class="rep">Sampai bertemu bubur ayam</li>
                </ul>
                <div class="contain-garis">
                    <div class="garis"></div>
                </div>
                
                <img src="img/sabtu-2.jpeg" alt="gym" class="gambar">
                <h2 class="nama-gerakan">Mengepel Pantai</h2>
                <p class="description">Berolahraga</p>
                <ul class="sets">
                    <p class="set">Di<span class="abu">lakukan</span> sebanyak :</p>
                    <li class="rep">0x</li>
                </ul>
                <div class="contain-garis">
                    <div class="garis"></div>
                </div>

                <img src="https://source.unsplash.com/360x200?programming" alt="gym" class="gambar">
                <h2 class="nama-gerakan">Hobby</h2>
                <p class="description">Mengasah skill / mencari skill baru / melakukan hobby anda</p>
                <ul class="sets">
                    <p class="set">Di<span class="abu">lakukan</span> sebanyak :</p>
                    <li class="rep">[ngantuk] x</li>
                </ul>
                <div class="contain-garis">
                    <div class="garis"></div>
                </div>
            </div>
        </div>

        <div class="section" id="minggu">
            <h1 class="day">Mi<span class="item">nggu</span></h1>
            <div class="card">
                <img src="img/minggu-1.jpeg" alt="gym" class="gambar">
                <h2 class="nama-gerakan">Me Time</h2>
                <p class="description">Luangkan waktu untuk keluarga anda</p>
                <ul class="sets">
                    <p class="set">Di<span class="abu">lakukan</span> sebanyak :</p>
                    <li class="rep">unlimited</li>
                </ul>
                <div class="contain-garis">
                    <div class="garis"></div>
                </div>
                
                <img src="img/minggu-2.jpeg" alt="gym" class="gambar">
                <h2 class="nama-gerakan">Menyapu Padang Pasir</h2>
                <p class="description">Berolahraga</p>
                <ul class="sets">
                    <p class="set">Di<span class="abu">lakukan</span> sebanyak :</p>
                    <li class="rep">1x</li>
                </ul>
                <div class="contain-garis">
                    <div class="garis"></div>
                </div>
            </div>
        </div>
    </main>
<script src="script.js"></script>
</body>
</html>