<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>
    <link rel="stylesheet" href="menu.css">
</head>
<body>
    <main>
        <div class="section">
            <h1 class="day">Se<span class="item">nin</span></h1>
            <div class="card">
                <img src="https://source.unsplash.com/360x200?gym" alt="gym" class="gambar">
                <h2 class="nama-gerakan">Plank</h2>
                <p class="description">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quidem, blanditiis!</p>
                <ul class="sets">
                    <p class="set">Di<span class="abu">lakukan</span> sebanyak :</p>
                    <li class="rep">15x</li>
                    <li class="rep">15x</li>
                    <li class="rep">20x</li>
                </ul>
                <div class="contain-garis">
                    <div class="garis"></div>
                </div>
                
                <img src="https://source.unsplash.com/360x200?fitness" alt="gym" class="gambar">
                <h2 class="nama-gerakan">Push up</h2>
                <p class="description">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quidem, blanditiis!</p>
                <ul class="sets">
                    <p class="set">Di<span class="abu">lakukan</span> sebanyak :</p>
                    <li class="rep">15x</li>
                    <li class="rep">15x</li>
                    <li class="rep">20x</li>
                </ul>
                <div class="contain-garis">
                    <div class="garis"></div>
                </div>

                <img src="https://source.unsplash.com/360x200?muscle" alt="gym" class="gambar">
                <h2 class="nama-gerakan">Sit up</h2>
                <p class="description">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quidem, blanditiis!</p>
                <ul class="sets">
                    <p class="set">Di<span class="abu">lakukan</span> sebanyak :</p>
                    <li class="rep">15x</li>
                    <li class="rep">15x</li>
                    <li class="rep">20x</li>
                </ul>
                <div class="contain-garis">
                    <div class="garis"></div>
                </div>
            </div>
        </div>
    </main>
<script src="menu.js"></script>
</body>
</html>